<div class="container">
    <div class="header">
        <i class="fa fa-arrow-left" routerLink="/home"></i>
        <i class="fa fa-share-alt"></i>
    </div>

    <div class="article-info">
        <img src="https://via.placeholder.com/40" alt="Author Image">
        <div>
            <span>CNN India</span> &middot; <span>{{ formatDateString(news?.updatedAt) || '' }}</span> &middot; <span>{{ news?.category || 'World' }}</span>
          </div>
    </div>

    <div class="article-title">
       {{news?.title?news?.title:''}}
    </div>

    <img src="https://via.placeholder.com/375x200" alt="Article Image" class="article-image">
    <div class="article-caption">Damage of tornadoes</div>

    <div class="article-content" [innerHTML]="news?.content?news?.content:''">
    </div>

    <div class="article-actions">
        <div>
            <i class="fa fa-heart"></i>
            <span>6.7k</span>
        </div>
        <div>
            <i class="fa fa-comment"></i>
            <span>12k</span>
        </div>
        <div>
            <i class="fa fa-share-alt"></i>
            <span>Share</span>
        </div>
    </div>
</div>